
@{
    ViewBag.Title = "EditTicket";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <script>
        function confirmSubmission() {
            return confirm("Do you want to save?");
        }
    </script>


    @if (@TempData["Success"] == "Success")
    {
        if (ViewBag.Message != null)
        {
            <script type="text/javascript">
          document.addEventListener('DOMContentLoaded', function () {

              Swal.fire({
                  /*title: 'File Upload',*/
                  text: "@ViewBag.Message",
                  icon: 'success',
                  // You can change the icon (success, error, warning, info)
                  confirmButtonColor: '#3085d6',
                  confirmButtonText: 'OK'
              });
          });
            </script>
        }
    }

    <style>
        h5 {
            margin-bottom: 40px;
        }
    </style>



</head>
<body>

    <div class="container-fluid mt-5 card p-5">
        <h5 style="text-align:left;">Ticket Resubmission</h5>
        <form class="row g-3" action="" method="post" onsubmit="return confirmSubmission()">
            <div class="container-fluid">
                <div class="row">


                    <div class="col-md-3">
                        <label for="validationDefault01" class="form-label">Ticket Number</label>
                        <input type="text" class="form-control text-capitalize" id="" name="compliant_id" required disabled value="@TempData["compliant_id"]" style="background-color: white !important;">

                    </div>

                    <div class="col-md-4 ">
                        <label for="validationDefault01" class="form-label">Module</label>
                        <input type="text" class="form-control text-capitalize" id="validationDefault01" name="module_name" required disabled value="@TempData["module_name"]" style="background-color: white !important;">

                    </div>


                    <div class="col-md-4">
                        <label for="validationDefault02" class="form-label">complaint title</label>
                        <input type="text" class="form-control text-capitalize" id="validationDefault02" name="compliantname" required disabled value="@TempData["compliant_name"]" style="background-color: white !important;">

                    </div>




                    <div class="col-md-5">
                        <label for="validationDefault03" class="form-label">Compliant Description</label>
                        <textarea class="form-control" id="validationDefault03" name="descriptions" style="background-color: white !important;" rows="4"
                                  required disabled>@TempData["description"]</textarea>
                    </div>














                    <div class="col-md-5">
                        <label for="validationDefault02" class="form-label">Comment</label>
                        <textarea class="form-control" id="validationDefault03" name="comments" rows="4" required></textarea>
                    </div>
                    <div class="col-md-2 d-flex align-items-end">
                        <button class="btn btn-primary btn-sm w-100" formaction="SaveEditTicket" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
       

   


















</body>
</html>